In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_maps_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")

In [3]:
city_data_df.head(500)

,City Id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2020-11-27 16:55:17,-33.65,115.33,46.99,94,0,9.17
1,1,Sao Domingos,BR,2020-11-27 16:55:17,-13.40,-46.32,83.62,50,86,7.70
2,2,Ushuaia,AR,2020-11-27 16:55:17,-54.80,-68.30,50.00,31,75,12.75
3,3,Kuminskiy,RU,2020-11-27 16:55:17,58.67,66.57,9.81,95,98,4.54
4,4,Sinnamary,GF,2020-11-27 16:55:17,5.38,-52.95,85.46,64,2,11.21
...,...,...,...,...,...,...,...,...,...,...
495,495,Wadi Maliz,TN,2020-11-27 16:56:13,36.47,8.55,62.60,67,40,9.17
496,496,Zhezkazgan,KZ,2020-11-27 16:56:13,47.80,67.71,23.49,98,100,9.89
497,497,Chadiza,ZM,2020-11-27 16:56:13,-14.07,32.44,69.35,83,100,5.99
498,498,Santiago Del Estero,AR,2020-11-27 16:52:44,-27.80,-64.26,86.00,50,51,5.01
499,499,Digha,IN,2020-11-27 16:56:14,21.68,87.55,74.79,50,64,10.18

In [4]:
city_data_df.dtypes

City Id         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
gmaps.configure(api_key = g_maps_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig =  gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp ], dissipating = False, max_intensity = 300, point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind_speed, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 75

In [11]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head()

,City Id,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2020-11-27 16:55:17,-33.65,115.33,46.99,94,0,9.17
2,2,Ushuaia,AR,2020-11-27 16:55:17,-54.80,-68.30,50.00,31,75,12.75
8,8,Qeshm,IR,2020-11-27 16:55:18,26.96,56.27,73.40,60,40,4.70
9,9,Beisfjord,NO,2020-11-27 16:55:18,68.38,17.60,37.40,93,75,13.87
11,11,Hennebont,FR,2020-11-27 16:55:18,47.81,-3.27,53.01,93,100,6.93

In [12]:
preferred_cities_df.isnull().sum()

City Id       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.count()

City Id       321
City          321
Country       321
Date          321
Lat           321
Lng           321
Max Temp      321
Humidity      321
Cloudiness    321
Wind Speed    321
dtype: int64

In [14]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

         City Country  Max Temp    Lat     Lng Hotel Name
0   Busselton      AU     46.99 -33.65  115.33
2     Ushuaia      AR     50.00 -54.80  -68.30
8       Qeshm      IR     73.40  26.96   56.27
9   Beisfjord      NO     37.40  68.38   17.60
11  Hennebont      FR     53.01  47.81   -3.27

In [15]:
#Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type" : "lodging",
    "key" : g_maps_key,
    "location": "46.99, -33.65"
}

hotels = requests.get("https://maps.googleapis.com/maps/api/place/nearbysearch/json", params = params).json()
hotels

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [16]:
len(hotels["results"])

0

In [18]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
 
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params = params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except(IndexError):
        print("Hotel not found....skipping")
        continue

{-33.65} {115.33}
{-54.8} {-68.3}
{26.96} {56.27}
{68.38} {17.6}
Hotel not found....skipping
{47.81} {-3.27}
{54.05} {35.23}
{-29.95} {-71.34}
{37.1} {-113.58}
{48.58} {45.74}
{44.65} {-63.57}
{38.73} {-27.07}
{42.45} {-75.06}
{57.72} {10.58}
{-33.59} {26.89}
{-34.53} {20.04}
{-33.02} {27.91}
{78.22} {15.64}
{-15.2} {12.15}
{42.78} {-9.06}
{29.06} {-13.56}
{42.1} {-79.24}
{51.09} {54.08}
Hotel not found....skipping
{30.47} {70.97}
{65.46} {12.2}
{60.14} {-45.24}
{60.12} {64.78}
{32.67} {-17.1}
{-28.98} {153.42}
{-24.7} {44.75}
{73.51} {80.55}
Hotel not found....skipping
{54.04} {19.03}
{-33.92} {25.57}
{38.8} {-9.45}
{62.16} {-7.17}
{65.61} {-37.64}
{69.23} {17.98}
{47.67} {-52.73}
{15.17} {44.32}
{-25.4} {-70.48}
{34.02} {44.15}
{48.78} {-87.1}
{66.69} {34.34}
{59.16} {35.33}
{52.8} {28.0}
Hotel not found....skipping
{44.75} {1.92}
{-32.25} {24.53}
{39.05} {-27.98}
{-51.62} {-69.22}
{65.99} {57.53}
{-37.62} {-73.65}
{64.9} {45.76}
{50.15} {48.57}
{49.78} {-74.85}
{3.28} {32.89}
{71.04} {27.85}
{68.12} {13.5}
{63.73} {8.83}
{38.52} {-28.7}
{-35.33} {-72.42}
{43.75} {-81.72}
{-34.42} {19.23}
{41.14} {-73.36}
{59.37} {16.51}
{51.95} {-7.85}
{27.15} {57.08}
{-33.7} {-53.46}
{63.44} {-20.27}
{60.71} {28.75}
{-42.91} {147.35}
{53.36} {20.43}
{36.19} {44.01}
{50.1} {-91.92}
{24.69} {46.72}
{56.0} {8.13}
{-38.7} {-73.17}
{53.6} {91.39}
{49.59} {81.05}
Hotel not found....skipping
{47.29} {-2.36}
{58.25} {32.52}
{-53.15} {-70.92}
{49.55} {0.96}
{45.25} {77.98}
{30.76} {20.23}
{-33.04} {-71.63}
{28.22} {61.22}
{11.97} {78.25}
{39.57} {3.21}
{41.84} {60.39}
{63.75} {-68.51}
{69.41} {86.18}
{36.85} {-75.98}
{13.81} {44.63}
{26.33} {43.98}
{31.63} {-8.01}
{-45.58} {-72.07}
{46.7} {-75.45}
{-30.18} {-50.21}
{48.65} {-53.11}
{43.27} {-7.54}
{64.86} {11.24}
{59.85} {48.28}
{61.99} {-49.67}
{-25.79} {31.05}
{46.42} {3.91}
{67.67} {12.69}
{22.57} {59.53}
{50.2} {-66.38}
{70.37} {31.11}
{65.42} {-52.9}
{51.8} {68.33}
{67.67} {53.09}
{59.97} {23.43}
{69.22} {-51.1}
{68.05} {39.51}
Hotel not found....skipping
{39.45} {-86.18}
Hotel not found....skipping
{-38.27} {141.97}
{45.02} {-93.22}
{59.6} {54.31}
{38.69} {35.55}
{61.73} {17.1}
{68.61} {31.8}
{-10.75} {-77.77}
{31.61} {34.76}
{18.39} {42.45}
{38.78} {63.88}
Hotel not found....skipping
{48.73} {7.05}
{66.15} {-65.71}
{41.77} {34.87}
Hotel not found....skipping
{29.6} {52.54}
{61.99} {5.14}
{25.02} {37.27}
{-10.07} {-78.15}
{41.05} {-76.23}
{62.58} {6.13}
{-34.0} {24.73}
{43.43} {77.02}
{48.67} {38.75}
Hotel not found....skipping
{59.27} {15.21}
{36.32} {41.88}
{26.39} {73.54}
{49.25} {-55.05}
{-0.22} {20.87}
Hotel not found....skipping
{43.0} {68.0}
Hotel not found....skipping
{40.26} {40.23}
{39.18} {-84.53}
{28.66} {-17.92}
{60.72} {-46.03}
{19.42} {80.07}
{7.28} {36.23}
{45.32} {55.2}
{38.42} {77.24}
{60.92} {-46.05}
{33.78} {-116.96}
{22.29} {114.16}
{-41.15} {-71.31}
{64.96} {34.58}
{40.0} {23.38}
{49.15} {-55.35}
{44.25} {-76.95}
{71.0} {24.66}
{55.74} {-97.86}
{56.85} {41.39}
{64.47} {40.85}
{69.49} {88.4}
{37.09} {15.28}
{63.84} {-22.43}
{22.67} {81.75}
{17.49} {44.13}
{22.93} {57.53}
{-20.22} {-70.14}
{38.85} {-76.88}
{36.82} {50.87}
{-27.41} {-49.6}
{20.93} {-17.03}
{38.47} {14.95}
{-36.72} {-73.12}
{62.23} {45.0}
{70.63} {29.72}
{52.04} {33.95}
Hotel not found....skipping
{40.72} {19.56}
{64.25} {-15.21}
{9.56} {44.06}
{57.04} {34.96}
{-13.7} {-76.22}
{38.7} {-9.42}
{55.6} {23.2}
{53.33} {6.52}
{37.72} {-25.43}
{39.17} {8.52}
{41.76} {86.15}
{36.62} {29.12}
{62.71} {56.2}
{52.72} {56.62}
{-12.52} {-76.74}
{31.21} {16.59}
{-23.65} {-70.4}
{53.09} {25.32}
{-13.97} {28.68}
{38.42} {15.9}
{51.07} {-1.8}
{-14.92} {13.49}
{53.28} {18.95}
{48.4} {-89.32}
{48.38} {20.02}
{45.62} {-62.0}
{52.43} {30.98}
{-10.88} {26.6}
{66.03} {60.17}
{62.23} {-6.59}
{28.27} {83.59}
{42.88} {-73.2}
{24.67} {76.83}
{28.58} {65.42}
{-25.05} {33.64}
{0.3} {30.18}
{44.08} {-80.2}
{32.12} {20.07}
{24.09} {32.91}
{51.96} {66.4}
{49.17} {-57.43}
{53.14} {0.34}
{19.8} {85.85}
{39.36} {-9.38}
{29.03} {21.55}
{1.1} {36.7}
{52.83} {53.48}
{56.87} {61.06}
{51.23} {47.52}
Hotel not found....skipping
{44.13} {4.08}
{-45.87} {-67.5}
{-11.1} {-77.61}
{0.09} {33.98}
{51.32} {42.77}
Hotel not found....skipping
{-40.57} {-73.15}
{34.88} {-76.9}
{55.83} {34.27}
Hotel not found....skipping
{51.1} {66.32}
{36.72} {15.09}
{41.28} {-70.1}
{-4.27} {-81.21}
{53.44} {55.26}
{-25.17} {45.05}
Hotel not found....skipping
{42.06} {-1.6}
{-6.13} {24.48}
{38.16} {-85.59}
{0.52} {25.2}
{42.18} {2.49}
{35.07} {36.34}
{38.42} {-121.42}
{41.02} {70.14}
{31.67} {38.66}
{41.95} {-80.55}
{23.27} {68.83}
{50.8} {-3.19}
{-41.87} {-73.82}
{46.09} {3.45}
{59.86} {38.38}
{41.49} {12.62}
{-0.88} {29.65}
{51.02} {45.7}
{30.15} {74.18}
{-10.61} {34.11}
{22.57} {83.47}
{60.4} {-1.35}
{39.51} {54.37}
{50.23} {-63.6}
{29.85} {80.53}
{33.32} {75.77}
{13.12} {79.2}
{-14.66} {17.69}
{30.33} {10.85}
Hotel not found....skipping
{37.81} {-0.84}
{33.12} {46.16}
{41.38} {-74.69}
{-28.78} {32.04}
{42.6} {-73.97}
Hotel not found....skipping
{32.69} {47.27}
{32.1} {70.97}
{63.86} {57.31}
{69.19} {33.25}
{30.42} {-9.6}
{18.69} {12.92}
{-32.58} {151.78}
{45.6} {25.3}
{36.47} {8.55}
{47.8} {67.71}
{-14.07} {32.44}
{21.68} {87.55}
{40.13} {63.45}
Hotel not found....skipping
{-37.72} {-72.23}
{47.17} {-55.15}
{40.91} {69.8}
Hotel not found....skipping
{53.41} {-2.98}
{-2.85} {11.03}
Hotel not found....skipping
{-26.96} {24.73}
{20.4} {78.13}
{59.32} {50.81}
{38.24} {16.26}
{37.08} {33.25}
Hotel not found....skipping
{14.4} {46.47}
Hotel not found....skipping
{20.5} {-10.07}
Hotel not found....skipping
{67.68} {53.15}
{50.12} {-5.54}
{45.06} {-83.43}
{-34.05} {23.37}
{40.92} {14.53}
{-12.91} {15.25}
Hotel not found....skipping
{47.27} {12.48}
{58.59} {16.18}
{1.31} {35.2}
{37.55} {-77.46}
{58.74} {29.85}
{40.8} {-96.67}
{-12.04} {-77.03}
{-24.87} {113.63}
{47.47} {84.87}
{61.35} {16.39}
{41.17} {75.81}
{65.37} {58.04}
Hotel not found....skipping
{65.2} {31.17}
{54.02} {55.88}

In [21]:
hotel_df.head()

         City Country  Max Temp    Lat     Lng                     Hotel Name
0   Busselton      AU     46.99 -33.65  115.33        Observatory Guest House
2     Ushuaia      AR     50.00 -54.80  -68.30                 Albatros Hotel
8       Qeshm      IR     73.40  26.96   56.27                 Kimia IV Hotel
9   Beisfjord      NO     37.40  68.38   17.60
11  Hennebont      FR     53.01  47.81   -3.27  ibis budget Lorient Hennebont

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, max_intensity=300, point_radius=4, dissipating=False)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

         City Country  Max Temp    Lat     Lng                     Hotel Name
0   Busselton      AU     46.99 -33.65  115.33        Observatory Guest House
2     Ushuaia      AR     50.00 -54.80  -68.30                 Albatros Hotel
8       Qeshm      IR     73.40  26.96   56.27                 Kimia IV Hotel
9   Beisfjord      NO     37.40  68.38   17.60
11  Hennebont      FR     53.01  47.81   -3.27  ibis budget Lorient Hennebont