## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import sys, os.path
sys.path.append(os.path.abspath('../'))
from config import g_maps_key

# Configure gmaps API key
gmaps.configure(api_key=g_maps_key)

In [14]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df

,City Id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Kawalu,-7.38,108.21,73.60,85,100,1.45,ID,overcast clouds
1,1,Hindaun,26.72,77.02,54.61,55,0,1.81,IN,clear sky
2,2,Aykhal,66.00,111.50,-0.40,84,0,2.24,RU,clear sky
3,3,Nikolskoye,59.70,30.79,32.00,95,90,11.18,RU,overcast clouds
4,4,Colac,-38.33,143.58,60.01,76,94,1.99,AU,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
695,695,Ambon,-3.70,128.18,84.78,71,100,5.88,ID,overcast clouds
696,696,Marshall,34.38,-86.33,51.01,81,1,3.36,US,clear sky
697,697,Sangar,63.92,127.47,-21.12,88,54,1.97,RU,broken clouds
698,698,Cochrane,51.18,-114.47,24.01,79,1,6.93,CA,clear sky
699,699,Longkou,37.65,120.33,40.05,68,91,13.04,CN,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 25
What is the maximum temperature you would like for your trip? 70

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City Id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
1,1,Hindaun,26.72,77.02,54.61,55,0,1.81,IN,clear sky
3,3,Nikolskoye,59.70,30.79,32.00,95,90,11.18,RU,overcast clouds
4,4,Colac,-38.33,143.58,60.01,76,94,1.99,AU,overcast clouds
6,6,Cape Town,-33.93,18.42,62.01,77,20,17.22,ZA,few clouds
7,7,Bay Roberts,47.60,-53.26,51.80,100,90,2.24,CA,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
689,689,Doka,13.52,35.77,68.67,26,0,10.02,SD,clear sky
690,690,Bath,51.38,-2.36,48.00,94,100,1.99,GB,overcast clouds
693,693,Blankenberge,51.31,3.13,39.99,86,0,3.00,BE,clear sky
696,696,Marshall,34.38,-86.33,51.01,81,1,3.36,US,clear sky
699,699,Longkou,37.65,120.33,40.05,68,91,13.04,CN,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City Id                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                4
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City Id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
1,1,Hindaun,26.72,77.02,54.61,55,0,1.81,IN,clear sky
3,3,Nikolskoye,59.70,30.79,32.00,95,90,11.18,RU,overcast clouds
4,4,Colac,-38.33,143.58,60.01,76,94,1.99,AU,overcast clouds
6,6,Cape Town,-33.93,18.42,62.01,77,20,17.22,ZA,few clouds
7,7,Bay Roberts,47.60,-53.26,51.80,100,90,2.24,CA,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
689,689,Doka,13.52,35.77,68.67,26,0,10.02,SD,clear sky
690,690,Bath,51.38,-2.36,48.00,94,100,1.99,GB,overcast clouds
693,693,Blankenberge,51.31,3.13,39.99,86,0,3.00,BE,clear sky
696,696,Marshall,34.38,-86.33,51.01,81,1,3.36,US,clear sky
699,699,Longkou,37.65,120.33,40.05,68,91,13.04,CN,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hindaun,IN,54.61,clear sky,26.72,77.02,
3,Nikolskoye,RU,32.00,overcast clouds,59.70,30.79,
4,Colac,AU,60.01,overcast clouds,-38.33,143.58,
6,Cape Town,ZA,62.01,few clouds,-33.93,18.42,
7,Bay Roberts,CA,51.80,overcast clouds,47.60,-53.26,
13,Paamiut,GL,32.97,light snow,61.99,-49.67,
17,Ostrovnoy,RU,29.03,overcast clouds,68.05,39.51,
19,Albany,US,37.00,clear sky,42.60,-73.97,
20,Busselton,AU,61.79,overcast clouds,-33.65,115.33,
25,Hermanus,ZA,54.00,broken clouds,-34.42,19.23,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_maps_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f'{lat}, {lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found....skipping")
        continue
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
-----------------------------
Data Retrieval Complete
-----------------------------

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   346
Country                346
Max Temp               346
Current Description    346
Lat                    346
Lng                    346
Hotel Name             346
dtype: int64

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))