## Deliverable 3. Create a Travel Itinerary Map.

In [45]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
import sys, os.path
sys.path.append(os.path.abspath('../'))
from config import g_maps_key

# Configure gmaps
gmaps.configure(api_key=g_maps_key)

In [87]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hindaun,IN,54.61,clear sky,26.72,77.02,Shri Ganesham Resort and Water Park
1,3,Nikolskoye,RU,32.00,overcast clouds,59.70,30.79,Tourist House - Sablino
2,4,Colac,AU,60.01,overcast clouds,-38.33,143.58,Otway Gate Motel
3,6,Cape Town,ZA,62.01,few clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
4,7,Bay Roberts,CA,51.80,overcast clouds,47.60,-53.26,Stonewall Inn

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [88]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Colac"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Colac"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Warrnambool"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Codrington"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Mount Gambier"]

In [50]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start_lat_lng = start[0][5], start[0][6]

end = vacation_end.to_numpy()
end_lat_lng = end[0][5], end[0][6]

stop1 = vacation_stop1.to_numpy()
stop1_lat_lng = stop1[0][5], stop1[0][6]

stop2 = vacation_stop2.to_numpy()
stop2_lat_lng = stop2[0][5], stop2[0][6]

stop3 = vacation_stop3.to_numpy()
stop3_lat_lng = stop3[0][5], stop3[0][6]

array([[389, 'Mount Gambier', 'AU', 60.8, 'broken clouds', -37.83,
        140.77, 'Commodore on the Park']], dtype=object)

In [55]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

direction_layer = gmaps.directions_layer(start_lat_lng, end_lat_lng, waypoints=[stop1_lat_lng, stop2_lat_lng, stop3_lat_lng], travel_mode = "DRIVING", stroke_color = 'red', stroke_opacity = 0.6)
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Colac,AU,60.01,overcast clouds,-38.33,143.58,Otway Gate Motel
1,304,Warrnambool,AU,63.00,overcast clouds,-38.38,142.48,Lady Bay Resort
2,148,Codrington,AU,60.49,overcast clouds,-38.27,141.97,Codrington Gardens Bed And Breakfast
3,389,Mount Gambier,AU,60.80,broken clouds,-37.83,140.77,Commodore on the Park
4,4,Colac,AU,60.01,overcast clouds,-38.33,143.58,Otway Gate Motel

In [72]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [86]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(start_lat_lng), zoom_level = 7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info )
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))